.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  height: 100px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 12px;
  padding: 0 24px;
}


.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  justify-self: center;
  margin: 0 auto;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}